@import '../../design-tokens/scss_variables.scss';

.Layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .Layout {
        width: 70%;
    }
}